
.AsideListado {
  position: relative;
  flex-flow: row wrap;
  align-items: left;
}

.container {
  position: relative;
  display: inline-block;
  flex-flow: row wrap;
  align-items: left;
  background: #E1E1E1;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

.top {
  padding-top: 2%;
}

.head {
  display: flex;
}

.head h2 {
  padding-right: 70%;
}

.searchBox {
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.searchBox img {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  border-radius: 12px;
}

.searchBox input[type="text"] {
  display: flex;
  border: none;
  border-radius: 12px;
  font-size: 16px;

}

#search {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

.searchBox input[type="text"]:focus {
  outline: none;
}

.TopButtons {
  display: flex;
  padding: 30px 15px 20px 0;

}

#create {
  background-color: rgba(174, 131, 123, 1);
}

#export {
  background-color: rgba(248, 243, 239, 1);
  margin-right: 20px;
}

#export,
#create {
  padding: 4px 14px;
  border: 12px;
  display: flex;
  width: 120px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
}

#create:hover {
  background-color: rgba(174, 131, 123, 0.8);
  transition: 100ms;
}

#create:active,
#create:focus {
  opacity: 0.8;
  transition: 90ms;
}

#export:hover {
  background-color: rgba(248, 243, 239, 0.8);
  transition: 100ms;
}

#export:active,
#export:focus {
  opacity: 0.5;
  transition: 90ms;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a,
a:hover {
  text-decoration: none !important;

}


.custom-table tbody .actionsButton li a {
  display: inline-block;
  width: 36px;
  padding: 0 10px 0 10px;
}

.custom-table tbody .actionsButton li a img {
  border-radius: 50%;
  width: 80%;
}

.custom-table tbody tr th,
.custom-table tbody tr td {
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.custom-table tbody tr th:before,
.custom-table tbody tr th:after,
.custom-table tbody tr td:before,
.custom-table tbody tr td:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  background: #bfbfbf;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}


.content .AsideListado img {
  height: 15%;
  width: 40%;
  scale: .9;
  padding-left: 30px;
  padding-top: 25px;
  box-sizing: content-box;
}

.content .AsideListado nav {
  padding-top: 20px;
}


.content .AsideListado nav li a {
  text-decoration: none;

}

.custom-table tbody .actionsButton {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
}

.custom-table {
  min-width: 900px;
}

.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}

.custom-table tbody th,
.custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}

.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}

.custom-table tbody .actionsButton li {
  padding: 0;
  margin: 0 0 0 -15px;
  list-style: none;
  display: inline-block;
}

.custom-table tbody tr th:before,
.custom-table tbody tr td:before {
  top: -1px;
}

.custom-table tbody tr th:after,
.custom-table tbody tr td:after {
  bottom: -1px;
}

.custom-table tbody tr:hover th,
.custom-table tbody tr:hover td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr:hover th:before,
.custom-table tbody tr:hover th:after,
.custom-table tbody tr:hover td:before,
.custom-table tbody tr:hover td:after {
  opacity: 1;
  visibility: visible;
}

.custom-table tbody tr.active th,
.custom-table tbody tr.active td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr.active th:before,
.custom-table tbody tr.active th:after,
.custom-table tbody tr.active td:before,
.custom-table tbody tr.active td:after {
  opacity: 1;
  visibility: visible;
}

@media only screen {
  .content {
    display: flex;
    height: 100%;
    max-height: 100%;
    background: #E1E1E1;
  }
}
