<div class="content">
  <aside class="AsideListado">
    <img class="logo" src="../../../../assets/imgs/Vivo Blanco 1.png" alt="Logo" />
    <nav>
      <li>
        <button type="button" class="btnColapse"
          (click)="isCollapsed = ! isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
          <span>Materias Primas</span>
        </button>
        <div id="listItems" [(ngbCollapse)]="isCollapsed">
          <li>
            <label (click)="selectLista('Listas')">Listas</label>
          </li>
          <li>
            <label (click)="selectLista('Listas')">Crudas</label>
          </li>
        </div>
      </li>
      <li>
        <label>Material de empaques</label>
      </li>
      <li>
        <label (click)="selectLista('Producto')">Productos</label>
      </li>
      <li>
        <label (click)="selectLista('Provedor')">Proveedores</label>
      </li>
      <li>
        <label (click)="selectLista('Cliente')">Usuarios</label>
      </li>
      <li>
        <label (click)="selectLista('')">Receta</label>
      </li>
    </nav>
  </aside>

<div *ngIf="flagContent">
  <div [ngSwitch]="frontActual">
    <div *ngSwitchCase="'Producto'">
      <div *ngIf="opcion == '1'">
        <app-registro-producto></app-registro-producto>
      </div>
      <div *ngIf="opcion == '2'">
        <app-editar-producto></app-editar-producto>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <!-- Contenido cuando opcion es igual a 2 -->
      <p>Opción 2 seleccionada.</p>
    </div>
    <div *ngSwitchCase="3">
      <!-- Contenido cuando opcion es igual a 3 -->
      <p>Opción 3 seleccionada.</p>
    </div>
    <div *ngSwitchDefault>
      <!-- Contenido cuando opcion no coincide con ningún caso anterior -->
      <p>Opción no válida.</p>
    </div>
  </div>
</div>



<div class="container" *ngIf="!flagContent">
  <div class="Top">
    <div class="head">
      <h2>{{ frontActual }}</h2>
      <div class="searchBox" id="search">
        <img src="../../../../assets/icons/🦆 icon _search_.svg" alt="searchIcon">
        <input type="text" [(ngModel)]="searchItem" />
      </div>
    </div>
    <div class="TopButtons">
      <div id="export"><img src="../../../../assets/icons/🦆 icon _download_.svg" alt="">Exportar</div>
      <a [href]=""><div id="create"><img src="../../../../assets/icons/🦆 icon _plus circle_.svg" alt="">Crear</div></a>

    </div>
  </div>
  <div class="table-responsive">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="columns" *ngFor="let atributo of getAtributos()">{{ atributo }}</th>
          <th class="columns">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rows">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <ul class="actionsButton">
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _eye_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _pen_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _lightbulb on_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="imageButton" (click)="showModal()" >
                  <img src="../../../../assets/icons/🦆 icon _cross_.svg" alt="Mostrar/ocultar">
                </button>
                <app-modal ></app-modal>

              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
