<div class="content">
  <aside class="AsideListado">
    <img class="logo" src="../../../../assets/imgs/Vivo Blanco 1.png" alt="Logo" />
    <nav>
      <li>
        <button type="button" class="btnColapse" (click)="isCollapsed = ! isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
          <span>Materias Primas</span>
        </button>
        <div id="listItems" [(ngbCollapse)]="isCollapsed">
          <li>
            <label (click)="selectLista('Listas')">Listas</label>
          </li>
          <li>
            <label (click)="selectLista('Listas')">Crudas</label>
          </li>
        </div>
      </li>
      <li>
        <label (click)="showCreate()">Material de empaques</label>
      </li>
      <li>
        <label (click)="selectLista('Producto')">Productos</label>
      </li>
      <li>
        <label (click)="selectLista('Provedor')">Proveedores</label>
      </li>
      <li>
        <label (click)="selectLista('Cliente')">Usuarios</label>
      </li>
      <li>
        <label (click)="selectLista('')">Receta</label>
      </li>
</nav>
</aside>

<div *ngIf="flagContent">
  <!-- <app-registro></app-registro> -->
</div>

<div class="container" *ngIf="!flagContent">
  <div class="Top">
    <div class="head">
      <h2>{{ frontActual }}</h2>
      <div class="searchBox" id="search">
        <img src="../../../../assets/icons/🦆 icon _search_.svg" alt="searchIcon">
        <input type="text" [(ngModel)]="searchItem" />
      </div>
    </div>
    <div class="TopButtons">
      <div id="export"><img src="../../../../assets/icons/🦆 icon _download_.svg" alt="">Exportar</div>
      <a [href]="crear"><div id="create"><img src="../../../../assets/icons/🦆 icon _plus circle_.svg" alt="">Crear</div></a>
      
    </div>
  </div>
  <div class="table-responsive">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="columns" *ngFor="let atributo of getAtributos()"> {{ atributo }} </th>
          <th class="columns">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rows">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <ul class="actionsButton">
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _eye_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _pen_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _lightbulb on_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
              <li>
                <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>
                <button class="imageButton">
                  <img src="../../../../assets/icons/🦆 icon _cross_.svg" alt="Mostrar/ocultar">
                </button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
