<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Registrar receta</h1>
  <form [formGroup]="recetaForm" (ngSubmit)="crearReceta()">
    <button type="submit" id="cancelar"><a href="/home">Cancelar</a></button>
    <button type="submit" id="guardar">Guardar</button>
    <div class="formulario">
      <h2 class="bloque">INFORMACIÓN GENERAL</h2>

      <div class="componente">
        <label for="codigo">Codigo materia prima:</label>
        <input type="text" formControlName="cod_interno" id="codigo">
      </div>

      <div class="componente">
        <label for="descripcion">Descripción materia prima:</label>
        <input type="text" formControlName="desc_mp" id="desc_mp" [readonly]="true">
      </div>

      <div class="componente">
        <label for="cantidad">Cantidad:</label>
        <input type="text" formControlName="cantidad" id="cantidad">
      </div>

      <div class="componente">
        <label for="unidad">Unidad medida:</label>
        <select formControlName="unidad_medida">
          <option value disabled selected>Seleccionar</option>
          <option value="Centimetros">Centimetros</option>
          <option value="Pulgadas">Pulgadas</option>
          <option value="Milimetros">Milimetros</option>
        </select>
      </div>

      <div class="componente">
        <label for="costo">Costo unitario:</label>
        <input type="text" formControlName="costo_unitario" id="costo" [readonly]="true">
      </div>

      <!-- <div [innerHtml]='msg' *ngIf="msg"></div>
      <label for="file-input" class="custom-file-input">
        <img [src]="url" *ngIf="url" id="imagen">
        <input type="file" id="file-input" (change)="selectFile($event)">
      </label> -->

      <label id="crear-mp" (click)="open(content)">Seleccionar Materia Prima</label>

        <ng-template #content let-modal >
          <div class="cmodal modal-lg modalCategoria" >
            <div class="custom-modal">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Materias Primas</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <article >
                  <table class="estilo-tabla">
                    <thead>
                      <tr>
                        <th>codigo interno</th>
                        <th>Tipo de materia prima</th>
                        <th>Descripción</th>
                        <th>Cantidad Línea</th>
                        <th>Precio Línea</th>
                        <th>Unidad de medida</th>
                        <th>Costo Unitario</th>
                        <th>Costo Total Unitario</th>
                        <th>Costo Baño Línea</th>
                        <th>Cantidad Bañada</th>
                        <th>Costo Baño Unitario</th>
                        <th>Bodega</th>
                        <th>Stock</th>
                        <th>Nombre Proveedor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mp of crudas">
                        <td>{{ mp.cod_interno}}</td>
                        <td>{{ mp.tipo_materia_prima}}</td>
                        <td>{{ mp.desc_mp}}</td>
                        <td>{{ mp.cant_linea}}</td>
                        <td>{{ mp.precio_linea}}</td>
                        <td>{{ mp.unidad_medida}}</td>
                        <td>{{ mp.costo_unitario}}</td>
                        <td>{{ mp.costo_total_unitario}}</td>
                        <td>{{ mp.costo_banio_linea}}</td>
                        <td>{{ mp.cantidad_banada}}</td>
                        <td>{{ mp.costo_banio_un}}</td>
                        <td>{{ mp.bodega}}</td>
                        <td>{{ mp.stock}}</td>
                        <td>{{ mp.nomProveedor}}</td>
                      </tr>
                    </tbody>
                  </table>   
                </article>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar selección</button>
              </div>
            </div>
            </div>
          </div>
        </ng-template>

      <!-- <ng-template #content let-modal>
        <div class="modal-dialog modal-lg modalCategoria">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Materias Primas</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <article >
                <table class="estilo-tabla">
                  <thead>
                    <tr>
                      <th>codigo interno</th>
                      <th>Tipo de materia prima</th>
                      <th>Descripción</th>
                      <th>Cantidad Línea</th>
                      <th>Precio Línea</th>
                      <th>Unidad de medida</th>
                      <th>Costo Unitario</th>
                      <th>Costo Total Unitario</th>
                      <th>Costo Baño Línea</th>
                      <th>Cantidad Bañada</th>
                      <th>Costo Baño Unitario</th>
                      <th>Bodega</th>
                      <th>Stock</th>
                      <th>Nombre Proveedor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mp of crudas">
                      <td>{{ mp.cod_interno}}</td>
                      <td>{{ mp.tipo_materia_prima}}</td>
                      <td>{{ mp.desc_mp}}</td>
                      <td>{{ mp.cant_linea}}</td>
                      <td>{{ mp.precio_linea}}</td>
                      <td>{{ mp.unidad_medida}}</td>
                      <td>{{ mp.costo_unitario}}</td>
                      <td>{{ mp.costo_total_unitario}}</td>
                      <td>{{ mp.costo_banio_linea}}</td>
                      <td>{{ mp.cantidad_banada}}</td>
                      <td>{{ mp.costo_banio_un}}</td>
                      <td>{{ mp.bodega}}</td>
                      <td>{{ mp.stock}}</td>
                      <td>{{ mp.nomProveedor}}</td>
                    </tr>
                  </tbody>
                </table>   
              </article>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar selección</button>
            </div>
          </div>
        </div>
      </ng-template> -->


    </div>
  </form>
</div>
