<div class='wrap'>
    <h2>Registro</h2>
      <form>
          <input type='text' name="nombre" id='nombre' placeholder='Nombre' [(ngModel)]="proveedor.nombre">
          <input type='text' name="telefono1" id='telefono1' placeholder='Telefono 1' [(ngModel)]="proveedor.telefono_1">
          <input type='text' name="telefono2" id='telefono2' placeholder='Telefono 2' [(ngModel)]="proveedor.telefono_2">
          <input type='text' name="telefono3" id='telefono3' placeholder='Telefono 3' [(ngModel)]="proveedor.telefono_3">
          <input type='text' name="telefono4" id='telefono4' placeholder='Telefono 4' [(ngModel)]="proveedor.telefono_4">
          <input type='text' name="telefono5" id='telefono5' placeholder='Telefono 5' [(ngModel)]="proveedor.telefono_5">
          <input type='text' name='direccion' id='direccion' placeholder='Dirección' [(ngModel)]="proveedor.direccion">
          <input type='text' name='ciudad' id='ciudad' placeholder='Ciudad' [(ngModel)]="proveedor.ciudad">
      </form>
    <button class='registrar' (click)="crearProveedor()">Registrar</button>
  </div>
