* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

main {
  background: #f7f7f7;
  padding-top: 30px;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

main aside {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: calc(100% / 3);
  padding: 12px;
  background: #f7f7f7 url('../../../../img/logo.png') no-repeat center center / cover;
  background-size: 95% 90%;
}

main aside svg {
  position: relative;
  margin-top: -24px;
  width: 150px;
  height: 150px;
}

main aside p {
  position: relative;
  width: 100%;
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 10px rgba(133, 117, 103, 0.5);
}

main aside p strong {
  font-weight: 700;
}


main section {
  position: relative;
  height: calc(100% / 3 * 2);
}

main section h1 {
  display: flex;
  justify-content: center;
  padding: 12px;
  color: #DFB72C;
  font-size: 28px;
  line-height: 1;
  text-align: center;
}

main section form {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  padding-top: 40px;
}

main section form>div,
main section form>ul {
  width: 100%;
  padding: 6px;
}

main section form fieldset {
  padding: 20px;
}

main section form fieldset div {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}

main section form fieldset div label {
  display: block;
  margin: 0;
  padding: 6px 9px;
  background: #DFB72C;
  color: white;
  font-size: 16px;
  cursor: pointer;
  line-height: 25px;
}

main section form fieldset div input {
  display: block;
  background: #f7f7f7;
  border: 1px solid #DFB72C;
  border-left: 0;
  border-radius: 0 2px 2px 0;
  box-shadow: none;
  margin: 0;
  padding: 6px 9px;
  width: 100%;
  color: #857567;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

main section form fieldset div input::placeholder {
  color: rgba(133, 117, 103, 0.4);
}

main section form fieldset div input:focus {
  background: rgba(233, 226, 213, 0.5);
}

main section form fieldset div input:focus::placeholder {
  color: rgba(133, 117, 103, 0.6);
}

main section form li button {
  display: block;
  margin: 0 auto;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  border: 0;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

main section form input[type="submit"] {
  display: block;
  align-self: flex-end;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 10px;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  text-transform: lowercase;
  line-height: 2;
  background: #DFB72C;
  color: white;
  cursor: pointer;
  transition: 200ms;
}

main section form input[type="submit"]:hover,
main section form input[type="submit"]:focus {
  background: #976a36;
  transition: 200ms;
}

main section form input[type="submit"]:active {
  background: #857567;
  transition: 300ms;
}

@media only screen {
  main {
    display: flex;
    border-radius: 10px;
    height: 400px;
    max-height: 800px;

  }

  main aside{
    height: 100%;
    width: 300px;
  }
  main section {
    height: 100%;
    width: 300px;
    border-left: 1px solid #AE837B;
  }
}
