* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body,
html {
  height: 100%;
}

body {
  background: white;
  margin: 0;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #857567;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  background: white;
  height: 100%;
}

main aside {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: calc(100% / 3);
  padding: 12px;
  background: #F8F3EF url('../../../../img/logo.png') no-repeat center center / cover;
  background-size: 95% 90%;
}

main aside div:empty {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8F3EF url('../../../../img/logo.png') no-repeat center center / cover;
  background-size: 95% 90%;
  background-blend-mode: screen;
}

main aside p {
  position: relative;
  width: 100%;
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 10px rgba(133, 117, 103, 0.5);
}

main aside p strong {
  font-weight: 700;
}

main aside p:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

main aside p.active {
  visibility: visible;
  opacity: 1;
  transform: none;
}

main aside p:not(.active) {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
}

main section {
  position: relative;
  height: calc(100% / 3 * 2);
}

main section h1 {
  display: flex;
  justify-content: center;
  padding: 12px;
  color: #DFB72C;
  font-size: 28px;
  line-height: 1;
  text-align: center;
}

main section form {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  padding-top: 40px;
}

main section form>div,
main section form>ul {
  width: 100%;
  padding: 6px;
}

main section form fieldset {
  padding: 6px;
}

main section form fieldset div {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}

main section form fieldset div label {
  display: block;
  margin: 0;
  padding: 6px 9px;
  background: #DFB72C;
  color: white;
  font-size: 16px;
  cursor: pointer;
  line-height: 25px;
}

main section form fieldset div input {
  display: block;
  background: white;
  border: 1px solid #DFB72C;
  border-left: 0;
  border-radius: 0 2px 2px 0;
  box-shadow: none;
  margin: 0;
  padding: 6px 9px;
  width: 100%;
  color: #857567;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

main section form fieldset div input::placeholder {
  color: rgba(133, 117, 103, 0.4);
}

main section form fieldset div input:focus {
  background: rgba(233, 226, 213, 0.5);
}

main section form fieldset div input:focus::placeholder {
  color: rgba(133, 117, 103, 0.6);
}

main section form li button {
  display: block;
  margin: 0 auto;
  appearance: none;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  border: 0;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

main section form input[type="submit"] {
  display: block;
  align-self: flex-end;
  appearance: none;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 2;
  background: #DFB72C;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 624px) {
  body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #52504e;
  }

  main {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    max-height: 400px;
    box-shadow: 0 0 10px rgba(56, 54, 53, 0.5);
  }

  main aside,
  main section {
    height: 100%;
    width: 300px;
  }
}
