<div>
  <table>
    <thead>
      <tr>
        <th>Option</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>showSpeed</strong></td>
        <td>15</td>
        <td>The speed of the show/reveal</td>
      </tr>
      <tr>
        <td><strong>showEasing</strong></td>
        <td>'linear'</td>
        <td>The easing of the show/reveal</td>
      </tr>
      <tr>
        <td><strong>hideSpeed</strong></td>
        <td>50</td>
        <td>The speed of the hide/conceal</td>
      </tr>
      <tr>
        <td><strong>hideEasing</strong></td>
        <td>'linear'</td>
        <td>The easing of the hide/conceal</td>
      </tr>					
      <tr>
        <td><strong>width</strong></td>
        <td>'auto'</td>
        <td>The width that the data will be truncated to - <em>('auto' or px amount)</em></td>
      </tr>
      <tr>
        <td><strong>ellipsis</strong></td>
        <td>true</td>
        <td>Set to true to enable the ellipsis</td>
      </tr>
      <tr>
        <td><strong>title</strong></td>
        <td>false</td>
        <td>Set to true to show the full data on hover</td>
      </tr>
      <tr>
        <td><strong>afterShow</strong></td>
        <td> $.noop</td>
        <td>The callback fired after the show/reveal</td>
      </tr>
      <tr>
        <td><strong>afterHide</strong></td>
        <td>$.noop</td>
        <td>The callback fired after the hide/conceal</td>
      </tr>
    </tbody>
  </table>
</div>