<div class="content">
  <aside class="AsideListado">
    <img src="./logo.png" alt="Logo" />
    <nav>
      <li>
        <a href="">Materias Primas</a>
      </li>
      <li>
        <a href="">Material de empaques</a>
      </li>
      <li>
        <a href="">Productos</a>
      </li>
      <li>
        <a href="">Proveedores</a>
      </li>
      <li>
        <a href="">Usuarios</a>
      </li>
      <li>
        <a href="">Recetas</a>
      </li>
    </nav>
  </aside>

  <div class="container">

    <div class="table-responsive">
      <!-- <button type="submit"> <a ></a></button> -->

      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">nombre</th>
            <th scope="col">nom_usuario</th>
            <th scope="col">correo</th>
            <th scope="col">estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1392</td>
            <td>Sales Pitch - 2019</td>
            <td>
              Far far away, behind the word mountains
              <small class="d-block"
                >Far far away, behind the word mountains</small
              >
            </td>
            <td>+63 983 0962 971</td>
            <td>
              <ul class="persons">
                <li>
                  <a href="#">
                    <img
                      src="images/person_1.jpg"
                      alt="Person"
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="images/person_2.jpg"
                      alt="Person"
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="images/person_3.jpg"
                      alt="Person"
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="images/person_4.jpg"
                      alt="Person"
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="images/person_5.jpg"
                      alt="Person"
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
