<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1 id="titulo_principal">Editar cliente</h1>
  <div id="cancelar">Cancelar</div>
  <div id="guardar">Guardar</div>
  <div class="formulario">
    <form [formGroup]="clienteForm" (ngSubmit)="actualizarCliente()">
      <div class="componente">
        <label for="identificacion">Identificación:</label>
        <input type="text" formControlName="identificacion" id="identificacion">
      </div>

      <div class="componente">
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre" id="nombre">
      </div>

      <div class="componente">
        <label for="apellido">Apellido:</label>
        <input type="text" formControlName="apellido" id="apellido">
      </div>

      <div class="componente">
        <label for="correo">Correo:</label>
        <input type="text" formControlName="correo" id="correo">
      </div>

      <div class="componente">
        <label for="direccion">Dirección:</label>
        <input type="text" formControlName="direccion" id="direccion">
      </div>

      <div class="componente">
        <label for="telefono">Telefono:</label>
        <input type="text" formControlName="telefono" id="telefono">
      </div>
       
      <div class="componente">
        <label for="direccion">Dirección:</label>
        <input type="text" [readonly]="true" formControlName="direccion"
          id="direccion">
      </div>

      <div class="componente">
        <label for="ciudad">Ciudad:</label>
        <input type="text" formControlName="ciudad" id="ciudad">
      </div>

    </form>

  </div>
</div>


<!-- <div class='wrap'>
    <h2>Edicion</h2>
      <form>
          <input type='text' name="identificacion" id='identificacion' placeholder='Identificacion' [(ngModel)]="cliente.identificacion">
          <input type='text' name="nombre" id='nombre' placeholder='Nombre' [(ngModel)]="cliente.nombre">
          <input type='text' name='apellido' id='apellido' placeholder='Apellido' [(ngModel)]="cliente.apellido">
          <input type='text' name='correo' id='correo' placeholder='Correo' [(ngModel)]="cliente.correo">
          <input type='text' name='direccion' id='direccion' placeholder='Direccion' [(ngModel)]="cliente.direccion">
          <input type='text' name='telefono' id='telefono' placeholder='Telefono' [(ngModel)]="cliente.telefono">
          <input type='text' name='ciudad' id='ciudad' placeholder='Ciudad' [(ngModel)]="cliente.ciudad">
      </form>
    <button class='registrar' (click)="actualizarCliente()">Actualizar</button>
</div> -->
