<router-outlet></router-outlet>

<div class="principal">
  <h1>Nuevo producto</h1>

  <div class="formulario">
    <h2 class="bloque">INFORMACIÓN GENERAL</h2>
    <form [formGroup]="productoForm" (ngSubmit)="crearProducto()" id="ngForm">
      <button type="button" id="cancelar" (click)="cancelar()"><a href="/home">Cancelar</a></button>
      <button type="submit" id="guardar">Guardar</button>

      <div class="componente">
        <label for="codigo">Codigo producto:</label>
        <input type="text" formControlName="codigoProducto" id="codigo">
      </div>

      <div class="componente">
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre" id="nombre">
      </div>

      <div class="componente">
        <label for="costo">Costo producto:</label>
        <input type="number" formControlName="costo_Producto" id="costo">
      </div>

      <div class="componente">
        <label for="porcent">Porcentaje utilidad:</label>
        <input type="number" formControlName="porcent_Utilidad" id="porcent">
      </div>

      <div class="componente">
        <label for="precio">Precio producto:</label>
        <input type="number" formControlName="precio_Producto" id="precio">
      </div>

      <div class="mensaje" [innerHtml]='msg' *ngIf="msg"></div>

      <label for="file-input" class="custom-file-input">
        <img [src]="url" *ngIf="url" id="imagen" alt="">
        <input type="file" id="file-input" (change)="selectFile($event)">
      </label>

      <label id="crear-categoria" (click)="open(content)">Crear categoria</label>

      <ng-template #content let-modal>
        <div class="modal-dialog modal-lg modalCategoria">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Nueva Categoría</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <article>
                <label for="descripcionCategoria">Descripción: </label>
                <input type="text" id="descripcionCategoria" />
              </article>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </div>
        </div>
      </ng-template>

    </form>

  </div>

</div>
