<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Editar categoria</h1>
  <div id="cancelar"><a href="/home">Cancelar</a></div>
  <div id="guardar">Guardar</div>
  <div class="formulario">
    <h2 class="bloque">INFORMACIÓN GENERAL</h2>
    <form [formGroup]="categoriaForm" (ngSubmit)="actualizarCategoria()">

      <div class="componente">
        <label for="descripcion">Descripción:</label>
        <input type="text" formControlName="desc_categoria" id="descripcion">
      </div>

    </form>

  </div>
</div>
