@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.principal{
  width: 100%;
  height: 100%;
  background-color: #ae837b20;
  padding-top: 60px;
}

.formulario {
  box-sizing: border-box;
  background-color: #ffffff;
}

.formulario {
  width: 900px;
  height: 600px;
  left: 60px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-shadow: 0 0 15px 0.5px rgba(0,0,0,0.3);
  position: relative;
  margin-bottom: 40px;
}
.principal .formulario h1 {
  text-align: center;
  margin-top: 0;
  color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__submit {
  display: block;
  width: 100%;
} 




  