<div class="principal">
  <div class="formulario">
    <h1 class="bloque">Crear Producto</h1>
    <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">
        <label for="">Codigo producto:</label>
        <input type="text" formControlName="codigoProducto">
        <label for="">Nombre:</label>
        <input type="text" formControlName="nombre">
        <label for="">Costo producto:</label>
        <input type="number" formControlName="costo_Producto">
        <label for="">Porcentaje utilidad:</label>
        <input type="number" formControlName="porcent_Utilidad">
        <label for="">Precio producto:</label>
        <input type="number" formControlName="precio_Producto">
      <button type="submit">Crear Producto</button>
    </form>
  </div>
</div>
