@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.formulario {
  box-sizing: border-box;
}

.formulario {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 50px;
  box-shadow: 0 0 15px 0.5px rgba(0,0,0,0.3);
  position: relative;
  margin-bottom: 40px;
}
.titulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__submit {
  display: block;
  width: 100%;
} 




  