<main ontouchstart class="with-hover">
	<aside>

	</aside>
	<section>
		<h1 class="options">
			<a id="link-login" class="active">Log In</a>
		</h1>

		<form id="form-login" class="active">
			<div>
				<fieldset>
					<div>
						<label for="email">Email</label>
						<input id="email" type="email" placeholder="marcia@polo.com" />
					</div>
				</fieldset>
				<fieldset>
					<div>
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="••••••••" />
					</div>
				</fieldset>
			</div>
<!--      <button type="submit" value="Log In"  (click)="crearUsuario()" >Log In</button>-->
			<input type="submit" value="Log In"  (click)="crearUsuario()" />
		</form>
	</section>
	<section>
		<div *ngIf=" usuarios.length != 0; else noUsuarios">
			<table>
			  <thead>
				<tr>
				  <th>Nombre</th>
				  <th>Usuario</th>
				  <th>Correo</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let usuario of usuarios">
				  <td>{{usuario.nombre}}</td>
				  <td>{{usuario.nom_usuario}}</td>
				  <td>{{usuario.correo}}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  
		  <ng-template #noUsuarios>
			<div class="msj">
			  <h3>No se ha registrado ningun administrador.</h3>
			</div>
		  </ng-template>
	</section>
</main>
