<div class='wrap'>
    <h2>Registro</h2>
      <form>
          <input type='text' name="nombre" id='nombre' placeholder='Nombre' [(ngModel)]="usuario.nombre">
          <input type='text' name="usuario" id='usuario' placeholder='Usuario' [(ngModel)]="usuario.nom_usuario">
          <input type='text' name='correo' id='correo' placeholder='Correo' [(ngModel)]="usuario.correo">
          <input type='password' name='contrasena' id='contrasena' placeholder='Contraseña' [(ngModel)]="usuario.contrasena">
      </form>
    <button class='registrar' (click)="crearUsuario()">Registrar</button>
  </div>
 
	<!-- <div *ngIf=" usuarios.length != 0; else noUsuarios">
			<table>
			  <thead>
				<tr>
				  <th>Nombre</th>
				  <th>Usuario</th>
				  <th>Correo</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let usuario of usuarios">
				  <td>{{usuario.nombre}}</td>
				  <td>{{usuario.nom_usuario}}</td>
				  <td>{{usuario.correo}}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  
		<ng-template #noUsuarios>
			<div class="msj">
			  <h3>No se ha registrado ningun administrador.</h3>
			</div>
		</ng-template> -->
