<main ontouchstart class="with-hover">
	<aside>

	</aside>
	<section>
		<h1 class="options">
			<a id="link-login" class="active">Log In</a>
		</h1>

		<form id="form-login" class="active">
			<div>
				<fieldset>
					<div>
						<label for="email">Email</label>
						<input id="email" type="email" placeholder="marcia@polo.com" />
					</div>
				</fieldset>
				<fieldset>
					<div>
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="••••••••" />
					</div>
				</fieldset>
			</div>

			<input type="submit" value="Log In" />
		</form>
	</section>
</main>
