* {
    box-sizing: border-box;
  }
  *:focus {
    outline: none !important;
  }
    body,
    html {
      height: 100%;
    }

    body {
      background: white;
      margin: 0;
      font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      color: #857567;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }

    main {
      background: white;
      height: 100%;
    }

    main aside {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: calc(100% / 3);
      padding: 12px;
      background: #DFB72C url('https://images.unsplash.com/photo-1443131307017-4097c8ac7763?dpr=2&auto=format&fit=crop&w=1500&h=1909&q=80&cs=tinysrgb') no-repeat center center / cover;
    }

    main aside div:empty {
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #DFB72C url('https://images.unsplash.com/photo-1443131307017-4097c8ac7763?dpr=2&auto=format&fit=crop&w=1500&h=1909&q=80&cs=tinysrgb') no-repeat center center / cover;
      background-blend-mode: screen;
    }

    main aside svg {
      position: relative;
      margin-top: -24px;
      width: 150px;
      height: 150px;
    }

    main aside div:not(:empty) {
      position: relative;
      width: 100%;
      margin-top: -24px;
    }

    main aside p {
      position: relative;
      width: 100%;
      margin: 0;
      color: white;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      text-shadow: 0 0 10px rgba(133, 117, 103, 0.5);
    }

    main aside p strong {
      font-weight: 700;
    }

    main aside p:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
    }

    main aside p.active {
      visibility: visible;
      opacity: 1;
      transform: none;
    }

    main aside p:not(.active) {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100px);
    }

    main section {
      position: relative;
      height: calc(100% / 3 * 2);
    }

    main section h1 {
      display: flex;
      justify-content: center;
      padding: 12px;
      color: #DFB72C;
      font-size: 28px;
      line-height: 1;
      text-align: center;
      text-transform: lowercase;
    }

    main section h1 a {
      display: block;
      margin: 0 6px;
      cursor: pointer;
      transform: none;
    }

    main section h1 a:hover,
    main section h1 a:focus {
      color: black;
    }

    main section h1 a:active {
      color: #857567;
    }

    main section h1 a.active {
      font-weight: 500;
    }

    main section h1 a:not(.active) {
      font-weight: 300;
    }

    main section form {
      display: flex;
      flex-flow: row wrap;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 40px);
      padding-top: 40px;
    }

    main section form>div,
    main section form>ul {
      width: 100%;
      padding: 6px;
    }

    main section form fieldset {
      padding: 6px;
    }

    main section form fieldset div {
      display: flex;
      border-radius: 2px;
      overflow: hidden;
    }

    main section form fieldset div label {
      display: block;
      margin: 0;
      padding: 6px 9px;
      background: #DFB72C;
      color: white;
      font-size: 16px;
      cursor: pointer;
      line-height: 25px;
    }

    main section form fieldset div input {
      display: block;
      background: white;
      border: 1px solid #DFB72C;
      border-left: 0;
      border-radius: 0 2px 2px 0;
      box-shadow: none;
      margin: 0;
      padding: 6px 9px;
      width: 100%;
      color: #857567;
      font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
    }

    main section form fieldset div input::placeholder {
      color: rgba(133, 117, 103, 0.4);
    }

    main section form fieldset div input:focus {
      background: rgba(233, 226, 213, 0.5);
    }

    main section form fieldset div input:focus::placeholder {
      color: rgba(133, 117, 103, 0.6);
    }

    main section form li {
      padding: 6px;
    }

    main section form li button {
      display: block;
      margin: 0 auto;
      appearance: none;
      font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      border: 0;
      border-radius: 100px;
      color: white;
      font-size: 16px;
      padding: 6px 12px;
      cursor: pointer;
    }

    main section form input[type="submit"] {
      display: block;
      align-self: flex-end;
      appearance: none;
      width: 100%;
      margin: 0;
      border: 0;
      border-radius: 0;
      font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 24px;
      text-transform: lowercase;
      line-height: 2;
      background: #DFB72C;
      color: white;
      cursor: pointer;
    }

    main section form input[type="submit"]:hover,
    main section form input[type="submit"]:focus {
      background: #976a36;
    }

    main section form input[type="submit"]:active {
      background: #857567;
    }

    main section form.active {
      opacity: 1;
      z-index: 1;
    }

    main section form.active fieldset,
    main section form.active li,
    main section form.active input[type="submit"] {
      transform: translateY(0px);
      opacity: 1;
    }

    main section form:not(.active) {
      opacity: 0;
      z-index: 0;
    }

    main section form:not(.active) fieldset,
    main section form:not(.active) li,
    main section form:not(.active) input[type="submit"] {
      transform: translateY(100px);
      opacity: 0;
    }

    main.with-hover aside p {
      transition: all 250ms ease-out;
    }

    main.with-hover section h1 a {
      transition: all 150ms ease-out;
    }

    main.with-hover section h1 a:hover,
    main.with-hover section h1 a:focus {
      transition: all 300ms ease-out;
    }

    main.with-hover section h1 a:active {
      transition: all 150ms ease-in;
    }

    main.with-hover section form {
      transition: all 1000ms ease-out;
    }

    main.with-hover section form fieldset,
    main.with-hover section form li,
    main.with-hover section form input[type="submit"] {
      transition: all 500ms ease-out;
    }

    main.with-hover section form button,
    main.with-hover section form input {
      transition: all 150ms ease-out;
    }

    main.with-hover section form button:hover,
    main.with-hover section form input:hover,
    main.with-hover section form button:focus,
    main.with-hover section form input:focus {
      transition: all 300ms ease-out;
    }

    main.with-hover section form button:active,
    main.with-hover section form input:active {
      transition: all 150ms ease-in;
    }

    main.with-hover section form.active#form-signup fieldset:nth-child(2) {
      transition-delay: 50ms;
    }

    main.with-hover section form.active#form-signup fieldset:nth-child(3) {
      transition-delay: 100ms;
    }

    main.with-hover section form.active#form-signup li:nth-child(1) {
      transition-delay: 150ms;
    }

    main.with-hover section form.active#form-signup li:nth-child(2) {
      transition-delay: 200ms;
    }

    main.with-hover section form.active#form-signup input[type="submit"] {
      transition-delay: 250ms;
    }

    main.with-hover section form.active#form-login fieldset:nth-child(2) {
      transition-delay: 50ms;
    }

    main.with-hover section form.active#form-login li:nth-child(1) {
      transition-delay: 100ms;
    }

    main.with-hover section form.active#form-login li:nth-child(2) {
      transition-delay: 150ms;
    }

    main.with-hover section form.active#form-login input[type="submit"] {
      transition-delay: 200ms;
    }

    main.with-hover section form:not(.active)#form-signup fieldset:nth-child(1) {
      transition-delay: 250ms;
    }

    main.with-hover section form:not(.active)#form-signup fieldset:nth-child(2) {
      transition-delay: 200ms;
    }

    main.with-hover section form:not(.active)#form-signup fieldset:nth-child(3) {
      transition-delay: 150ms;
    }

    main.with-hover section form:not(.active)#form-signup li:nth-child(1) {
      transition-delay: 100ms;
    }

    main.with-hover section form:not(.active)#form-signup li:nth-child(2) {
      transition-delay: 50ms;
    }

    main.with-hover section form:not(.active)#form-login fieldset:nth-child(1) {
      transition-delay: 200ms;
    }

    main.with-hover section form:not(.active)#form-login fieldset:nth-child(2) {
      transition-delay: 150ms;
    }

    main.with-hover section form:not(.active)#form-login li:nth-child(1) {
      transition-delay: 100ms;
    }

    main.with-hover section form:not(.active)#form-login li:nth-child(2) {
      transition-delay: 50ms;
    }

    main.pre-enter aside {
      transform-origin: center top;
      transform: scaleY(0);
      visibility: hidden;
    }

    main.pre-enter aside svg {
      transform-origin: center center;
      transform: scale(0) rotate(90deg);
      visibility: hidden;
    }

    main.pre-enter aside p.active {
      opacity: 0;
      transform: translateY(100px);
      visibility: hidden;
    }

    main.pre-enter section h1 a {
      visibility: hidden;
      opacity: 0;
    }

    main.pre-enter section h1 a:first-child {
      transform-origin: right center;
      transform: translateX(200px) scaleX(0);
    }

    main.pre-enter section h1 a:last-child {
      transform-origin: left center;
      transform: translateX(-200px) scaleX(0);
    }

    main.pre-enter section form fieldset,
    main.pre-enter section form li {
      opacity: 0;
      transform: translateY(100px);
      visibility: hidden;
    }

    main.pre-enter section form input[type="submit"] {
      transform-origin: center bottom;
      transform: scaleY(0);
      color: #DFB72C;
      visibility: hidden;
    }

    main.on-enter aside {
      animation: scaleYIn 1000ms linear forwards;
      visibility: visible;
    }

    main.on-enter aside svg {
      animation: bounceIn-rotate 1000ms linear forwards 250ms;
      visibility: visible;
    }

    main.on-enter aside p.active {
      animation: slideInUp-fadeIn 1000ms linear forwards 500ms;
      visibility: visible;
    }

    main.on-enter section h1 a {
      visibility: visible;
    }

    main.on-enter section h1 a:first-child {
      animation: scaleX-slideInRight 1000ms linear forwards 750ms;
    }

    main.on-enter section h1 a:last-child {
      animation: scaleX-slideInLeft 1000ms linear forwards 750ms;
    }

    main.on-enter section form fieldset,
    main.on-enter section form li {
      animation: slideInUp-fadeIn 1000ms linear forwards;
      visibility: visible;
    }

    main.on-enter section form fieldset:nth-child(1) {
      animation-delay: 1250ms;
    }

    main.on-enter section form fieldset:nth-child(2) {
      animation-delay: 1350ms;
    }

    main.on-enter section form fieldset:nth-child(3) {
      animation-delay: 1450ms;
    }

    main.on-enter section form li:nth-child(1) {
      animation-delay: 1550ms;
    }

    main.on-enter section form li:nth-child(2) {
      animation-delay: 1650ms;
    }

    main.on-enter section form input[type="submit"] {
      animation: scaleYIn 1000ms linear forwards 1750ms, lemon-white 250ms linear forwards 2150ms;
      visibility: visible;
    }

    @media only screen and (min-width: 624px) {
      body {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background: #52504e;
      }

      main {
        display: flex;
        border-radius: 2px;
        overflow: hidden;
        height: 100%;
        max-height: 400px;
        box-shadow: 0 0 10px rgba(56, 54, 53, 0.5);
      }

      main aside,
      main section {
        height: 100%;
        width: 300px;
      }

      main.pre-enter {
        opacity: 0;
        visibility: hidden;
      }

      main.pre-enter aside {
        transform: none;
      }

      main.on-enter {
        animation: slideDown-fadeIn 1000ms linear forwards;
        visibility: visible;
      }

      main.on-enter aside {
        animation: none;
      }
    }

    @keyframes lemon-white {
      0% {
        color: #DFB72C;
      }

      100% {
        color: white;
      }
    }
  /* https://goo.gl/U6p2Ra */
  @keyframes slideDown-fadeIn {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -400, 0, 1);
      opacity: 0;
    }
    4% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -227.213, 0, 1);
    }
    7.91% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -44.516, 0, 1);
    }
    11.91% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 75.765, 0, 1);
    }
    15.82% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 110.328, 0, 1);
      opacity: 1;
    }
    20.42% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 78.474, 0, 1);
    }
    24.92% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.745, 0, 1);
    }
    29.53% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -16.119, 0, 1);
    }
    34.03% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -27.704, 0, 1);
    }
    43.14% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.859, 0, 1);
    }
    52.15% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.958, 0, 1);
    }
    70.37% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.747, 0, 1);
    }
    88.59% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.439, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }
  /* https://goo.gl/gsBg5l */
  @keyframes scaleYIn {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.432, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    7.91% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    11.91% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    15.82% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.276, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    20.42% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.92% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.53% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    34.03% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    43.14% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    70.37% {
      transform: matrix3d(1, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    88.59% {
      transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  /* https://goo.gl/XC1o6q */
  @keyframes scaleX-slideInLeft {
    0% {
      transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 0;
    }
    5.71% {
      transform: matrix3d(0.354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -44.297, 0, 0, 1);
    }
    6.31% {
      transform: matrix3d(0.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.449, 0, 0, 1);
    }
    11.31% {
      transform: matrix3d(0.583, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -42.536, 0, 0, 1);
    }
    12.51% {
      transform: matrix3d(0.621, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -39.889, 0, 0, 1);
    }
    17.02% {
      transform: matrix3d(0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -28.059, 0, 0, 1);
    }
    18.82% {
      transform: matrix3d(0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -23.316, 0, 0, 1);
    }
    22.62% {
      transform: matrix3d(0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.419, 0, 0, 1);
    }
    25.03% {
      transform: matrix3d(0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.822, 0, 0, 1);
    }
    28.33% {
      transform: matrix3d(0.895, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.859, 0, 0, 1);
    }
    33.93% {
      transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.401, 0, 0, 1);
      opacity: 1;
    }
    37.54% {
      transform: matrix3d(0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.162, 0, 0, 1);
    }
    45.15% {
      transform: matrix3d(0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.335, 0, 0, 1);
    }
    50.05% {
      transform: matrix3d(0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.109, 0, 0, 1);
    }
    72.57% {
      transform: matrix3d(0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.773, 0, 0, 1);
    }
    75.08% {
      transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.613, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }
  /* https://goo.gl/4dYUn6 */
  @keyframes scaleX-slideInRight {
    0% {
      transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 0;
    }
    5.71% {
      transform: matrix3d(0.354, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 44.297, 0, 0, 1);
    }
    6.31% {
      transform: matrix3d(0.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45.449, 0, 0, 1);
    }
    11.31% {
      transform: matrix3d(0.583, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 42.536, 0, 0, 1);
    }
    12.51% {
      transform: matrix3d(0.621, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.889, 0, 0, 1);
    }
    17.02% {
      transform: matrix3d(0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 28.059, 0, 0, 1);
    }
    18.82% {
      transform: matrix3d(0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 23.316, 0, 0, 1);
    }
    22.62% {
      transform: matrix3d(0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 14.419, 0, 0, 1);
    }
    25.03% {
      transform: matrix3d(0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.822, 0, 0, 1);
    }
    28.33% {
      transform: matrix3d(0.895, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.859, 0, 0, 1);
    }
    33.93% {
      transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.401, 0, 0, 1);
      opacity: 1;
    }
    37.54% {
      transform: matrix3d(0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.162, 0, 0, 1);
    }
    45.15% {
      transform: matrix3d(0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.335, 0, 0, 1);
    }
    50.05% {
      transform: matrix3d(0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.109, 0, 0, 1);
    }
    72.57% {
      transform: matrix3d(0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.773, 0, 0, 1);
    }
    75.08% {
      transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.613, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }
  /* https://goo.gl/lNPiqQ */
  @keyframes slideInUp-fadeIn {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
      opacity: 0;
    }
    5.81% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 51.656, 0, 1);
    }
    11.61% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 11.991, 0, 1);
    }
    17.42% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -8.985, 0, 1);
    }
    23.12% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.246, 0, 1);
    }
    30.33% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.789, 0, 1);
    }
    37.44% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.262, 0, 1);
    }
    44.54% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.625, 0, 1);
      opacity: 1;
    }
    51.65% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.624, 0, 1);
    }
    80.28% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.185, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }
  /* https://goo.gl/mrRSVv */
  @keyframes bounceIn-rotate {
    0% {
      transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4% {
      transform: matrix3d(0.174, -0.395, 0, 0, 0.395, 0.174, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.31% {
      transform: matrix3d(0.405, -0.588, 0, 0, 0.588, 0.405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    7.91% {
      transform: matrix3d(0.583, -0.67, 0, 0, 0.67, 0.583, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    11.91% {
      transform: matrix3d(0.965, -0.695, 0, 0, 0.695, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    12.51% {
      transform: matrix3d(1.006, -0.681, 0, 0, 0.681, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    15.82% {
      transform: matrix3d(1.145, -0.564, 0, 0, 0.564, 1.145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.82% {
      transform: matrix3d(1.159, -0.435, 0, 0, 0.435, 1.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    20.42% {
      transform: matrix3d(1.137, -0.371, 0, 0, 0.371, 1.137, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.92% {
      transform: matrix3d(1.034, -0.23, 0, 0, 0.23, 1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.03% {
      transform: matrix3d(1.032, -0.227, 0, 0, 0.227, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.53% {
      transform: matrix3d(0.949, -0.142, 0, 0, 0.142, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    34.03% {
      transform: matrix3d(0.926, -0.095, 0, 0, 0.095, 0.926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    37.54% {
      transform: matrix3d(0.941, -0.071, 0, 0, 0.071, 0.941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    43.14% {
      transform: matrix3d(0.984, -0.045, 0, 0, 0.045, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    50.05% {
      transform: matrix3d(1.016, -0.025, 0, 0, 0.025, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      transform: matrix3d(1.017, -0.021, 0, 0, 0.021, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    70.37% {
      transform: matrix3d(0.996, -0.003, 0, 0, 0.003, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.08% {
      transform: matrix3d(0.997, -0.002, 0, 0, 0.002, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    88.59% {
      transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
