<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Nueva materia cruda</h1>
  <form [formGroup]="materiaCrudasForm" (ngSubmit)="crearMateriasCrudas()">
    <button type="submit" id="cancelar"><a href="/home">Cancelar</a></button>
    <button type="submit" id="guardar">Guardar</button>
    <div class="formulario">
      <h2 class="bloque">INFORMACIÓN GENERAL</h2>

      <div class="componente">
        <label for="unidad">Tipo Materia Prima:</label>
        <select formControlName="tipo_materia_prima">
          <option value disabled selected>Seleccionar</option>
          <option value="Mat. Prima Cruda">Mat. Prima Cruda</option>
          <option value="Mat. Prima Lista">Mat. Prima Lista</option>
        </select>
      </div>

      <div class="componente">
        <label for="descripcion">codigo interno:</label>
        <input type="text" formControlName="cod_interno" id="descripcion">
      </div>

      <div class="componente">
        <label for="cantidad">Cantidad linea:</label>
        <input type="number" formControlName="cant_linea" id="cantidad">
      </div>

      <div class="componente">
        <label for="precio">Precio linea:</label>
        <input type="number" formControlName="precio_linea" id="precio">
      </div>

      <div class="componente">
        <label for="precio">Bodega:</label>
        <input type="text" formControlName="bodega" id="descripcion">
      </div>

      <div class="componente">
        <label for="precio">Stock:</label>
        <input type="number" formControlName="stock" id="descripcion">
      </div>

      <div class="componente">
        <label for="descripcion">Descripción:</label>
        <input type="text" formControlName="desc_mp" id="descripcion">
      </div>

      <div class="componente">
        <label for="descripcion">Proveedores:</label>
        <select id="opcionSeleccionada" formControlName="opcionSeleccionada">
          <option value disabled selected>Seleccionar</option>
          <option *ngFor="let opcion of opciones"  [ngValue]="opcion">{{
            opcion.nombre }}</option>
        </select>
      </div>


    </div>

    <!-- <div class="componente">
        <label for="costo">Proveedor:</label>
        <select [(ngModel)]="opcionSeleccionadaUnidad" (change)="seleccionarOpcionUnidad(opcionSeleccionadaUnidad)">
          <option *ngFor="let unidad of materiasCrudas.proveedores" [value]="">{{ "" }}</option>
        </select>
      </div> -->

    <div class="division_costo">
      <h2 class="bloque">COSTO</h2>

      <div class="componente">
        <label for="unidad">Unidad medida:</label>
        <select formControlName="unidad_medida">
          <option value disabled selected>Seleccionar</option>
          <option value="Centimetros">Centimetros</option>
          <option value="Pulgadas">Pulgadas</option>
          <option value="Milimetros">Milimetros</option>
        </select>
      </div>

      <div class="componente">
        <label for="cantidad">Cantidad bañada:</label>
        <input type="number" formControlName="cantidad_banada"
          id="cantidad">
      </div>

      <div class="componente">
        <label for="costo">Costo baño línea:</label>
        <input type="number" formControlName="costo_banio_linea"
          id="costo">
      </div>
    </div>

    <div class="mensaje" [innerHtml]='msg' *ngIf="msg">
      <label for="file-input" class="custom-file-input">
        <img [src]="url" *ngIf="url" id="imagen">
        <input type="file" id="file-input" (change)="selectFile($event)">
      </label>

    </div>
  </form>

</div>

<!-- <div class='wrap'>
    <h2>Registro</h2>
      <form>
        <input type='text' name="codigo_Interno" id='codigo_Interno' placeholder='Codigo materia lista' [(ngModel)]="materiasCrudas.codigoInterno">  
    </form>
    <button class='registrar' (click)="crearMateriasCrudas()">Registrar</button>
</div> -->