<div class='wrap'>
    <h2>Edicion</h2>
      <!-- <form>
          <input type='text' name="nombre" id='nombre' placeholder='Nombre' [(ngModel)]="producto.nombre">
          <input type='text' name="costo_Producto" id='costo_Producto' placeholder='Costo producto' [(ngModel)]="producto.costo_Producto">
          <input type='text' name="porcent_Utilidad" id='porcent_Utilidad' placeholder='Porcentaje utilidad' [(ngModel)]="producto.porcent_Utilidad">
          <input type='text' name="precio_Producto" id='precio_Producto' placeholder='Precio producto' [(ngModel)]="producto.precio_Producto">
      </form> -->
    <!-- <button class='registrar' (click)="actualizarProducto()">Actualizar</button> -->
  </div>
