.principal {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.formulario{
  top: 30px;
  background-color: #ffffff;
  width: 75%;
  height: 540px;
  max-width: 100%;
  margin:auto;
  position: relative;
  box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.componente {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin: 20px 0px 0px 100px;
}

input {
  position: relative;
  left: 50PX;
  width: 300px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 2.7%;
  margin: 8px 200px 4px 50px;
}

#identificacion{
  margin: 8px 600px 4px 50px;
  padding: 1.5%;
}

#correo{
  width: 500px;
  margin: 8px 600px 4px 50px;
  padding: 1.5%;
}

.bloque {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0px 80px;
  border-bottom: 1px solid #929090;
  color: #000000;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

input:focus {
  border: 1.5px solid #AE837B;
  outline: none;
}

#guardar,
#cancelar {
  position: relative; 
  width: 120px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}

#guardar {
  top: 0px;
  background-color: #ae837bce;
  left: 84.5%;
}

#cancelar {
  top: 30px;
  background-color: white;
  left: 75%;
}

a{
  text-decoration: none;
  color: black;
}

#guardar:active{
  background-color: #90726C;
}

#cancelar:active {
  background-color: #D3D3D3;
}

#cancelar:active {
  background-color: #D3D3D3;
}

.principal h1 {
  position: relative;
  top: 70;
  padding: 0% 0% 0% 7%;
  text-align: left;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
  .formulario {
    width: 70%;
    height: 84%;
  }

  input {
    width: 200px;
    height: 41px;
  }

  .principal {
    width: 265%;
  }

}

@media (max-width: 480px) {
  .formulario {
    width: 40%;
    height: 97%;
  }

  input {
    width: 200px;
    height: 41px;
  }

  .principal {
    width: 265%;
  }
}
