<main ontouchstart class="with-hover" >
  <aside></aside>
  <section >
    <h1 class="options">Bienvenido</h1>
    <form id="form-login" class="active" >
      <div>
        <fieldset>
          <div> 
            <input 
              name="email"
              id="email"
              type="email"
              placeholder="correo@gmail.com"
              [(ngModel)]="login.correo"
              required="required"
            />
          </div>
        </fieldset>
        <fieldset>
          <div>
            <input
              name="password"
              id="password"
              type="password"
              placeholder="Password"
              [(ngModel)]="login.contrasena"
              required="required"
            />
          </div>
        </fieldset>
      </div>
      <input type="submit" value="Ingresar" />
 </form>
  </section>
</main>
