main {
  background-color: F8F3EF;
  padding-top: 20px;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;

}

main aside {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  align-content: center;
  justify-content: center;
  background: white url('../../../../assets/imgs/logo.png') no-repeat center / cover;
  background-size: 85% 80%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


main aside p {
  position: relative;
  width: 100%;
  margin: 0;
  color: white;
  line-height: 1.2;
  text-align: center;
}

main aside p strong {
  font-weight: 400;
}


main section {
  position: relative;
  height: calc(100% / 3 * 2);
  background: #AE837B;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

main section h1 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  padding: 12px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
}

main section form {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  padding-top: 40px;
}

main section form>div,
main section form>ul {
  width: 100%;
  padding: 30px 9px;
}


main section form fieldset {
  padding: 5px 30px;
}

main section form fieldset div {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}

main section form fieldset div label {
  display: block;
  margin: 0;
  padding: 6px 9px;
  color: white;
  cursor: pointer;
  line-height: 25px;
}

main section form fieldset div input {
  display: block;
  background: #ffffff88;
  border: 0;
  border-radius: 6px;
  box-shadow: none;
  margin: 0;
  padding: 15px 9px;
  width: 100%;
  color: #857567;
}

main section form fieldset div input::placeholder {
  color: rgb(255, 255, 255);
}

main section form fieldset div input:focus {
  background: rgba(255, 255, 255, 0.5);
  outline: white;
}


main section form fieldset div input:focus::placeholder {
  color: rgb(255, 255, 255);
}

main section form li button {
  display: block;
  margin: 0 auto; 
  border: 0;
  border-radius: 100px;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}

main section form input[type="submit"] {
  display: block;
  align-self: flex-end;
  width: 80%;
  margin: auto;
  height: 20%;
  border: 0;
  border-radius: 10px;
  line-height: 2;
  background: white;
  color: #AE837B;
  transition: 200ms;
  font-size: 20px;
}

main section form input[type="submit"]:hover,
main section form input[type="submit"]:focus {
  background: #ffffff56;
  color: white;
  transition: 150ms;
}

main section form input[type="submit"]:active {
  background: #ffffff2d;
  transition: 150ms;
}

@media only screen {
  main {
    display: flex;
    height: 100%;
    max-height: 100%;

  }

  main aside {
    height: 400px;
    width: 300px;
  }

  main section {
    height: 400px;
    width: 300px;

  }
}
