<div class="principal">
  <div class="formulario">
    <h1 >Materia Cruda</h1>
    <form [formGroup]="materiaCrudaForm" (ngSubmit)="crearMateriasCrudas()">
      <div class="formulario__input">
        <input type="text" formControlName="desc_mp"
          placeholder="Descripcion">
        <input type="text" formControlName="categoria_mp" 
          placeholder="Categoria">
        <input type="number" formControlName="cant_linea"
          placeholder="Cantidad linea">
        <input type="number" formControlName="precio_linea"
          placeholder="Precio linea">
        <input type="text" formControlName="unidad_medida"
          placeholder="Unidad medida">
        <input type="number" formControlName="costo_unitario"
          placeholder="Costo unitario">
        <input type="number" formControlName="costo_total_unitario"
          placeholder="Costo unitario">
        <select>
          <option *ngFor="let proveedor of materiasCrudas.proveedores">{{ proveedor }}</option>
        </select>
        <!-- hacer el select de proveedores -->
      </div>
      <button type="submit">Crear Materia Cruda</button>
    </form>
  </div>
</div>



<!-- <div class='wrap'>
    <h2>Registro</h2>
      <form>
        <input type='text' name="codigo_Interno" id='codigo_Interno' placeholder='Codigo materia lista' [(ngModel)]="materiasCrudas.codigoInterno">  
    </form>
    <button class='registrar' (click)="crearMateriasCrudas()">Registrar</button>
</div> -->