<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Registrar materia cruda</h1>
  <div id="cancelar">Cancelar</div>
  <div id="guardar">Guardar</div>
  <div class="formulario">
    <h2 class="bloque">INFORMACIÓN GENERAL</h2>
    <form [formGroup]="materiaCrudaForm" (ngSubmit)="crearMateriasCrudas()">
      <div class="componente">
        <label for="descripcion">Descripción:</label>
        <input type="text" formControlName="desc_mp" id="descripcion">
      </div>

      <div class="componente">
        <label for="categoria">Categoria:</label>
        <input type="text" formControlName="categoria_mp" id="categoria">
      </div>

      <div class="componente">
        <label for="cantidad">Cantidad linea:</label>
        <input type="number" [readonly]="true" formControlName="cant_linea"
          id="cantidad">
      </div>

      <div class="componente">
        <label for="precio">Precio linea:</label>
        <input type="number" formControlName="precio_linea" id="precio">
      </div>

      <div class="componente">
        <label for="unidad">Unidad medida:</label>
        <input type="number" [readonly]="true" formControlName="unidad_medida"
          id="unidad">
      </div>

      <div class="componente">
        <label for="costo">Costo unitario:</label>
        <input type="number" [readonly]="true" formControlName="costo_unitario"
          id="costo">
      </div>

      <div class="componente">
        <label for="costo">Costo total unitario:</label>
        <input type="number" [readonly]="true" formControlName="costo_total_unitario"
          id="costo">
      </div>

      <!-- <div [innerHtml]='msg' *ngIf="msg"></div>
      <label for="file-input" class="custom-file-input">
        <img [src]="url" *ngIf="url" id="imagen">
        <input type="file" id="file-input" (change)="selectFile($event)">
      </label> -->

    </form>

  </div>
</div>


<!-- <div class='wrap'>
    <h2>Registro</h2>
      <form>
        <input type='text' name="codigo_Interno" id='codigo_Interno' placeholder='Codigo materia lista' [(ngModel)]="materiasCrudas.codigoInterno">  
    </form>
    <button class='registrar' (click)="crearMateriasCrudas()">Registrar</button>
</div> -->