@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.principal {
  width: 100%;
  height: 180%;
  background-color: #efefef;
}

.formulario,
.division_costo,
.division_costo_banio {
  top: 30px;
  background-color: #ffffff;
  width: 85%;
  height: 500px;
  max-width: 100%;
  margin: auto;
  position: relative;
  box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  
}

.componente {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.division_costo {
  width: 100%;
  top: 108%;
  height: 50%;
  position: absolute;
}

.division_costo input,
.division_costo_banio input{
  padding: 3.2%;
  width: 250px;
  margin: 10px 70px 15px 80px;
}

.division_costo_banio {
  width: 100%;
  top: 166%;
  height: 60%;
  position: absolute;
}


label {
  margin: 30px 0px 0px 80px;
}

input,
select {
  width: 300px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 3%;
  margin: 10px 70px 15px 80px;
}

.bloque {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0px 80px;
  border-bottom: 1px solid #929090;
  color: #000000;
  font-size: 16px;
}

input:focus {
  border: 1.5px solid #AE837B;
  outline: none;
}

#guardar,
#cancelar {
  position: relative; 
  width: 120px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guardar {
  top: 0px;
  background-color: #ae837bce;
  left: 84.5%;
}

#cancelar {
  top: 30px;
  background-color: white;
  left: 75%;
}

a{
  text-decoration: none;
  color: black;
}

#cancelar:active,
#cancelar:focus {
  background-color: #D3D3D3;
  transition: 50ms;
}

#guardar:active,
#guardar:focus {
  background-color: #90726C;
  transition: 50ms;
}

.custom-file-input {
  top: 18%;
  left: 63%;
  width: 26%;
  height: 60%;
  position: absolute;
  display: flex;
  cursor: pointer;
  background-color: #EFEFEF;
  border: none;
  border-radius: 10px;
  background: #EFEFEF url('../../../../../assets/icons/🦆 icon _camera alt_.svg') no-repeat center / cover;
  background-size: 22% 10%;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input #imagen {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #EFEFEF;
}

.mensaje {
  position: absolute;
  display: inline-block;
  color: #a80000;
   left: 69.5%; 
}

.principal h1 {
  position: relative;
  top: 70;
  padding: 0% 0% 0% 7%;
  text-align: left;
  font-size: 22px;
}

@media (max-width: 768px) {
  .formulario {
    width: 70%;
    height: 84%;
  }

  input {
    width: 200px;
    height: 41px;
  }

  .principal {
    width: 265%;
  }

}

@media (max-width: 480px) {
  .formulario {
    width: 40%;
    height: 97%;
  }

  input {
    width: 200px;
    height: 41px;
  }

  .principal {
    width: 265%;
  }
}