/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"

html;
body, h2{
    font-size: 17px;
}

*{
    font-family: "Times New Roman";
}

body{
    height: 100%;
}

h1 {
    font-size: 24px;
}



