/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"

html;
body{
    font-size: 17px;
}

*{
    font-family: "Times New Roman";
    color: black;
}

body{
    height: 100%;
}






