<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Editar proveedor</h1>
  <form [formGroup]="proveedorForm" (ngSubmit)="actualizarProveedor()">
    <button type="submit" id="cancelar"><a href="/home">Cancelar</a></button>
    <button type="submit" id="guardar">Guardar</button>
    <div class="formulario">
      <h2 class="bloque">INFORMACIÓN DE CONTACTO</h2>
      <div class="componente">
        <label for="nombre">Código proveedor:</label>
        <input type="text" formControlName="cod_proveedor" id="cod_proveedor">
      </div>

      <div class="componente">
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre" id="nombre">
      </div>

      <div class="componente">
        <label for="direccion">Dirección:</label>
        <input type="text" formControlName="direccion" id="direccion">
      </div>

      <div class="componente">
        <label for="ciudad">Ciudad:</label>
        <input type="text" formControlName="ciudad" id="ciudad">
      </div>

      <div class="componente">
        <label for="telefono_1">Telefono 1:</label>
        <input type="text" formControlName="telefono_1" id="telefono">
      </div>

      <div class="componente">
        <label for="telefono_2">Telefono 2:</label>
        <input type="text" formControlName="telefono_2" id="telefono">
      </div>

      <div class="componente">
        <label for="telefono_3">Telefono 3:</label>
        <input type="text" formControlName="telefono_3" id="telefono">
      </div>

      <div class="componente">
        <label for="telefono_4">Telefono 4:</label>
        <input type="text" formControlName="telefono_4" id="telefono">
      </div>

      <div class="componente">
        <label for="telefono_5">Telefono 5:</label>
        <input type="text" formControlName="telefono_5" id="telefono">
      </div>

    </div>
  </form>
</div>
