<div class='wrap'>
    <h2>Registro</h2>
      <form>
          <input type='text' name="identificacion" id='identificacion' placeholder='Identificacion' [(ngModel)]="cliente.identificacion">
          <input type='text' name="nombre" id='nombre' placeholder='Nombre' [(ngModel)]="cliente.nombre">
          <input type='text' name='apellido' id='apellido' placeholder='Apellido' [(ngModel)]="cliente.apellido">
          <input type='text' name='correo' id='correo' placeholder='Correo' [(ngModel)]="cliente.correo">
          <input type='text' name='direccion' id='direccion' placeholder='Direccion' [(ngModel)]="cliente.direccion">
          <input type='text' name='telefono' id='telefono' placeholder='Telefono' [(ngModel)]="cliente.telefono">
          <input type='text' name='ciudad' id='ciudad' placeholder='Ciudad' [(ngModel)]="cliente.ciudad">
      </form>
    <button class='registrar' (click)="crearCliente()">Registrar</button>
</div>