<!-- <a routerLink="/home"></a> -->
<router-outlet></router-outlet>

<div class="principal">
  <h1>Editar receta</h1>
  <form [formGroup]="recetaForm" (ngSubmit)="actualizarReceta()">
    <button type="submit" id="cancelar"><a href="/home">Cancelar</a></button>
    <button type="submit" id="guardar">Guardar</button>
    <div class="formulario">
      <h2 class="bloque">INFORMACIÓN GENERAL</h2>

      <div class="componente">
        <label for="codigo">Codigo materia prima:</label>
        <input type="text" formControlName="codigo_mp" id="codigo">
      </div>

      <div class="componente">
        <label for="descripcion">Descripción materia prima:</label>
        <input type="text" formControlName="descripcion_mp" id="descripcion" [readonly]="true">
      </div>

      <div class="componente">
        <label for="cantidad">Cantidad:</label>
        <input type="text" formControlName="descripcion_mp" id="cantidad">
      </div>

      <div class="componente">
        <label for="unidad">Unidad medida:</label>
        <select formControlName="unidad_medida">
          <option value disabled selected>Seleccionar</option>
          <option value="Centimetros">Centimetros</option>
          <option value="Pulgadas">Pulgadas</option>
          <option value="Milimetros">Milimetros</option>
        </select>
      </div>

      <div class="componente">
        <label for="costo">Costo unitario:</label>
        <input type="text" formControlName="costo_unitario" id="costo" [readonly]="true">
      </div>

      <!-- <div [innerHtml]='msg' *ngIf="msg"></div>
      <label for="file-input" class="custom-file-input">
        <img [src]="url" *ngIf="url" id="imagen">
        <input type="file" id="file-input" (change)="selectFile($event)">
      </label> -->

    </div>
  </form>
